*{
    margin: 0%;
    padding: 0%;
}

body{
    background: #FBD3E9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BB377D, #FBD3E9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BB377D, #FBD3E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-top: 50px;
}
h3{
    padding-top: 20px;
    padding-bottom: 20px;

}
.ingreso{
    font-size: 20px ;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cajain{
    padding-bottom: 20px;
}
